*{
    font-family: 'Open Sans', sans-serif;
}
/*--------------nav style--------------*/
main{
    max-width: 1140px;
    margin : 0 auto;
}
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin : 50px 230px; 
}
.pri-color{
    color: #FD6E0A;
}
.h2{
    
    font-weight: 800;
    font-size: 45px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul  li{
    list-style: none;
    padding: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.btn-pri{
    color: white;
    background-color: #FD6E0A;
    padding : 18px 35px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}
/*----------------banner style--------------*/

.banner{
    display: flex;
    align-items: center;
    margin : 50px 230px; 
}
.title-1{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.title-2{
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.title-3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/*----------------------about section style--------------------------*/
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;

}
.about-title-1{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
}
.about-title-2{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
   
}
.about-title-3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}
.p-small{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.h4-stl{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}
/*--------------------------what i do section start------------------------------  */
.what-i-do{
    
    padding: 130px 155px;
    text-align: center;
}
.container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.sub-container{
    width: 267px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.container .sub-container img{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    
}

.p-small-n{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: left;
    
}
.h4-stl-n{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    text-align: left;
}
/*---------------------------- summary section---------------------- */
.summary{
    text-align: center;
    padding: 130px 155px;
}
.fst-title{
    text-align: left;
}
.item{
    text-align: left;
}
.sub-item{
    border-bottom: 1px solid #757575;
}

.fst-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.snd-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    padding-top: 30px;
}
.sum-p-1{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.sum-p-2{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.summary-container{
    margin-top: 130px;
    display: flex;
    gap : 71px;
    margin-bottom: 50px;
}
